{% extends 'base.html' %}
{% block content %}
<h3>Movimentação de Produtos</h3>
<form method="POST">
    <label>Produto:</label>
    <select name="produto" class="form-select mb-2">
        {% for p in produtos %}
        <option value="{{p[0]}}">{{p[1]}}</option>
        {% endfor %}
    </select>
    <select name="tipo" class="form-select mb-2">
        <option value="entrada">Entrada</option>
        <option value="saida">Saída</option>
    </select>
    <input class="form-control mb-2" type="number" name="quantidade" placeholder="Quantidade" required>
    <button class="btn btn-success">Registrar</button>
</form>
{% endblock %}
